/* @media (max-width:768px) { */



/* la nav mobile */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding: 3% 0;
    position: relative;
}

.imgLogo {
    inline-size: 250px;
}

.lieu {
    padding: 0 36%;
    background: #e5e5e5;
    inline-size: 29%;
    box-shadow: inset 1px 16px 20px #9d95952b;
    border-top: double #bab6b6;
}

.iconMaps {
    font-size: 20px;
    margin-right: 11%;
}

/* Le header mobile  */

header {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -1%;
}

.explore {
    padding: 5% 19% 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boutonExplorer {
    color: white;
    background: linear-gradient(rgb(223, 84, 188),rgb(214, 100, 234));
    border-radius: 29px;
    border: 0.5px solid #f2f2f2;
    align-items: center;
    margin: 17px 0 0;
    padding: 0 5%;
    cursor: pointer;
    box-shadow: 0 7px 6px 1px #d6d3d3b3;
}

/* Le main mobile  */


/* Fonctionnement */

.fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boutonFonct {
    color: black;
    background: rgb(247 247 247);
    border-radius: 29px;
    /* border: 0.5px solid #f2f2f2; */
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    inline-size: 321px;
    padding: 1% 5%;
    margin-bottom: 4%;
    cursor: pointer;
    box-shadow: 0 7px 12px 1px #bab7b787;
}

.iconFonct {
    font-size: x-large;
    color: #989595;
}

.boutonFonct:hover {
    background-color: rgb(214 229 239);
}

.iconFonct:hover {
    color: rgb(173, 98, 235);
}

.numeroF {
    border-radius: 100%;
    border: 0.7px solid rgb(217, 215, 215);
    background-color: #9812cd;
    padding: 10px 16px;
    color: white;
    margin-left: -26%;
}

/* Restaurants */

.restaurant {
    background-color: #f7f7f7;
    padding-top: 6%;
    padding-bottom: 2%;
}

.listRestau {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carteRestaurant {
    width: 404px;
    /* border: 0.5px solid #d5d2d2; */
    background-color: white;
    border-radius: 20px;
    padding: 1px;
    margin-bottom: 6%;
    box-shadow: 0px 0px 13px 9px #dbd8d88a;
}

.imgRestaurant {
    width: 100%;
    height: 212px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.motNouveau {
    margin: -47% 5% 37% 75%;
    background: #99E2D0;
    color: #49bd98;
    position: relative;
    padding: 2%;
}

.paragraphe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
}

.iconFavoris {
    font-size: x-large;
}

/* Le footer mobile */

footer {
    background-color: black;
    color: white;
    padding: 3% 0 3% 5%;
}

.paragrapheFooter {
    display: flex;
    align-items: center;
    margin-bottom: -12px;
}

.iconFooter1 {
    margin-right: 3%;
}

.iconFooter2 {
    margin-right: 2%;
}



/* } */